/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/


body {
    background-color: #b2bec3;
    font-family: 'Nunito', sans-serif;
}

.ramecek {
    box-sizing: border-box; 
    border: 0 solid black;    
    background-color: white;
    position: relative;
    border-radius: 30px;
    box-sizing: border-box;
    width: 550px;
    margin: 150px auto;
    text-align: justify;
}

img {
    width: 150px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    right: -75px;
    top: -75px;
}

div {
    padding: 30px;
    font-size: 18px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    color: #d63031;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    text-align: center;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(158, 50, 50);
    color: white;
}

.a1 {
    margin: 0 0 5px 0;
    background-color: #1da1f2;
}

.a1:hover,
.a1:focus,
.a1:active {
  background-color: #0b7bc1;
}

.a2 {
    background-color: #3b5998;
}

.a2:hover,
.a2:focus,
.a2:active {
  background-color: #2b406e;
}